* {
  box-sizing: border-box;
}

body {
   // color: map-get($colors, dkorange);
   font-family: map-get($fonts, primary-font);
   background-color: map-get($colors, softred);
}

h1.title {
    &-lg {
      color: map-get($colors, myIvory) !important;
}
}

div {
  border: 2px solid yellow;
  width: 40vw;
  height: 30vh;
  background: grey;
}
