// MANUAL WATCH FROM TERMINAL

// sass --watch scss/master.scss:css/styles.css

@import 'base/_colors';
@import 'base/_fonts';

/* general styles *******/
@import 'main/_main';


@import 'components/_buttons';
@import 'layout/_layout';




// .title{
//   &-lg {
//     color: map-get($colors, ivory);
//   }
// }


//-----NB: COLORS FOR QUICK ID-REFERENCE -----------//
// $colors: (
//   trans-grey: rgba(#808080, 0.35),
//   mango:#ebb861,
//   sand:#d0b588,
//   orange:#f28b02,
//   dkorange: #945706,
//   mutedOrange: #9a854e,
//   softbrown: #2c2d32,
//   softsand: #b3976e,
//   softred: #b0493a,
//   softwhite: #cdcdcd,
//   dkgrey:#575757,
//   grey: grey,
//   ltgrey:darkgrey,
//   coral: coral,
//   offWhite: #d9d4c5,
//   myIvory: #e6d8cc,
//   wh: #fff,
//   mustard: #a38853,
//   trim: #f5facf,
//   txtShadow: #f1e8ce,
//   ltblue:#3f71f1,
//   navy: navy,
//   mutedBlue:#3f6a96,
//   softblue:#436475,
//   mutedPurp: #827a90,
//   dkblue:#18223b,
//   ltgreen:#79e286,
//   pastOlive: #2b503b,
//   pastBlue: #58708a,
//   transGreen: rgba(#32b384, 0.78),
//   transPastGreen: rgba(#a6b696, 0.66),
//   pastgreen: #a6b696,
//   pastred: #c29d9d,
//   pastpink: #9e869b,
//   reddrk: #410211,
//   ltred: #eb473d,
// );
