* {
  box-sizing: border-box;
}

body {
   // color: map-get($colors, dkorange);
   font-family: map-get($fonts, primary-font);
   background-color: map-get($colors, softred);
}

div {
  border: 1px solid yellow;
  background: grey;
}
